
/* Font */
@font-face {
    font-family: 'eurofbold';
    src: url("../fonts/euro/eurof55.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


body {
    margin: 0;
      background-image: url(/meme-imgs/sky.jpg);
      background-repeat: no-repeat;
      background-size: 100vw;
}
#my-canvas {
    border: 1px solid blue;
}

img {
    height: 50px;
    width: 50px;
}

.social-share-btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
  }

  .menu{
      border: 1px solid black;
      font-family: fontawesome;
      width: 500px;
      height: 500px;
      background-color: bisque;
      flex-direction: column;
      justify-content: space-around;


  }

  .container {
    max-width: 980px;
    margin: 0 auto;
    margin-top:10rem;
  }
  
  @media (max-width: 980px) {
    .container {
      max-width: 740px;
    }
    .menu{
        width: 100%;
        column-count: 2;
        column-gap: 20px;
        padding-right: 0;
        margin-bottom: 20px;
      }
    }
  
  
  @media (max-width: 740px) {
    .container {
      max-width: 100%;
    }
  }
  
@media (max-width: 550px) {
    .menu {
      column-count: 1;
      column-gap: 0;
    }
  
  
  }

  header .header-wrapper {
    height: 130px;
  }

  .flex {
    display: flex;
  }
  .align-center {
    align-items: center;
  }